*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mess{
    width: 50%;
    height: 25%;
    border-right: 2px solid #FFC107 ;
    padding: 10px;

    
    
}
.mess input{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    
    border: none;
    
    
    
}

.mess h6{
    font-size: 16px;
}

.mess input:focus{
    border: 1px solid skyblue;
    outline: 1px solid skyblue;
}


.rate{
    width: 50%;
    height: auto;
}

.container-1{
    margin: 0 auto;
    width: 70%;
}

.add{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 300px;
    background-color: #0B5ED7;
    height: 30px;
    border: none;
    color: #FFF5F5;
    font-size: 16px;
    border-radius: 5px;
}

.container-1 input{
    border: none;
    outline: none;
}

.container-1 input:focus{
    border: 1px solid skyblue;
    outline: 1px solid skyblue;
    
}